/* @media (max-width: 768px) {
  p {
    font-size: 25px;
    background-color: aliceblue;
  }
} */
/* @media (orientation: landscape) {
  body {
    background: lightgreen;
  }
} */
.box {
  width: 100%;
  height: 100px;
  background-color: green;
  border-radius: 20px;
  border: 2px solid black;
  padding: 10px;
  font-size: 80px;
}

@media (min-width: 768px) {
  .box {
    background-color: red;
    padding: 20px;
    padding-left: 40px;
  }
}
li {
  list-style-type: none;
}
@media (min-width: 480px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d5f009;
    padding: 1rem;
    border-radius: 20px;
    border: 2px solid black;
    cursor: pointer;
  }
}
