/* @media (max-width: 768px) {
  p {
    font-size: 25px;
    background-color: aliceblue;
  }
} */
/* @media (orientation: landscape) {
  body {
    background: lightgreen;
  }
} */
.box {
  width: 100%;
  height: 100px;
  background-color: green;
}

@media (min-width: 768px) {
  .box {
    background-color: red;
  }
}
li {
  list-style-type: none;
}
@media (min-width: 480px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }
}
