h2 {
  color: aqua;
}
p {
  color: brown;
  font-size: 25px;
  text-align: center;
}
.par {
  color: purple;
}
#ab {
  color: orange;
  background-color: antiquewhite;
}
div {
  height: 200px;
  width: 200px;
  color: red;
  background-color: yellow;
  text-align: center;
  align-content: center;
  padding: 20px;
  margin: 20px; 
  border: 2px solid black;
}
